body {
	background-color: lightpink;
}
body {
font-family: didot;
	font-size: 100px;
	color: lightpink;
}
.main-box1 {
	padding: 50px;
	display: fixed;
	color: greenyellow;
	background-color: white;
	width: 1920px;
	height:200px;
	text-align: center;
}
.main-box2 {
	padding: 10px;
	color: antiquewhite;
	background-color: lightpink;
	width: 1500px;
	height: 200px;
	display: inline-block;
}
.main-box3 {
	width: 300px;
	height: 300px;
	display: absolute;
	float: center;
}
.dogimage {
	width: 200px;
	height: 200px;
}